In [1]:
from growth_calculator import calculate_zscore, zscore_cohort

In [2]:
calculate_zscore('weight', 0.926, 'Male', 0, age_unit='weeks', weeks_gestation=31,
                 dataset='british_1990', verbose=True)

Adjusting age by 0.17260259786087848 for 31 weeks gestation
Using nearest age of -0.172 for user provided age of -0.17260259786087848
Using british_1990 dataset
Z-score for -0.17260259786087848 years old male weight of 0.926 = -2.756615443874826

-2.756615443874826

In [3]:
calculate_zscore('height', 35, 'Male', 3, age_unit='weeks', weeks_gestation=31,
                 dataset='british_1990', verbose=True)

Adjusting age by 0.17260259786087848 for 31 weeks gestation
Using nearest age of -0.115 for user provided age of -0.11506839857391898
Using british_1990 dataset
Z-score for -0.11506839857391898 years old male height of 35 = -5.7861908603959735

-5.7861908603959735

In [4]:
calculate_zscore('ofc', 26.6, 'Male', 0, age_unit='weeks', weeks_gestation=31,
                 dataset='british_1990', verbose=True)

Adjusting age by 0.17260259786087848 for 31 weeks gestation
Using nearest age of -0.172 for user provided age of -0.17260259786087848
Using british_1990 dataset
Z-score for -0.17260259786087848 years old male ofc of 26.6 = -2.0110952355304574

-2.0110952355304574

In [5]:
prenatal = [dict(id=1, gender='female', gestation=30, 
                 age=0, weight=0.74, ofc=25, height=34,),
            dict(id=2, gender='male', gestation=35,
                 age=0, weight=0.99, ofc=28, height=38,),
            dict(id=3, gender='male', gestation=38,
                 age=0, weight=1.64, ofc=29, height=40.5,),
            dict(id=4, gender='female', gestation=38,
                 age=0, weight=1.48, ofc=32, height=40,),
            dict(id=5, gender='male', gestation=38,
                 age=0, weight=1.956, ),]
zscore_cohort(prenatal)

,ID,weight,weight SD,ofc,ofc SD,height,height SD,Gender,Provided_Age,Provided_Age_Unit,Gestation,Age,Adjusted_age,Nearest_age_weight,Nearest_age_ofc,Nearest_age_height
0,1,0.740,-2.905970,25.0,-2.319476,34.0,-6.047049,female,0,years,30,0,-0.191781,-0.192,-0.192,-0.134
1,2,0.990,-4.190948,28.0,-3.150480,38.0,-4.597291,male,0,years,35,0,-0.095890,-0.096,-0.096,-0.096
2,3,1.640,-3.550393,29.0,-3.898471,40.5,-4.503896,male,0,years,38,0,-0.038356,-0.038,-0.038,-0.038
3,4,1.480,-3.966885,32.0,-1.121053,40.0,-4.685821,female,0,years,38,0,-0.038356,-0.038,-0.038,-0.038
4,5,1.956,-2.761720,NaN,NaN,NaN,NaN,male,0,years,38,0,-0.038356,-0.038,NaN,NaN

In [6]:
postnatal = [dict(id=1, gender='female', gestation=30,
                  age=4.5, age_unit='months', weight=1.88, ofc=30, height=40,),
             dict(id=2, gender='male', gestation=35,
                  age=9, age_unit='months', weight=3.00, ofc=38, height=55,),
             dict(id=3, gender='female', gestation=38,
                  age=16, age_unit='months', weight=2.74, ofc=41, height=54,),
             dict(id=4, gender='male', gestation=38,
                  age=5, age_unit='years', weight=6.095, ofc=41, height=71,),
             dict(id=5, gender='male', gestation=38,
                  age=2.03, weight=3.78, ofc=43.5, height=55.7),
          ]
zscore_cohort(postnatal)

,ID,weight,weight SD,ofc,ofc SD,height,height SD,Gender,Provided_Age,Provided_Age_Unit,Gestation,Age,Adjusted_age,Nearest_age_weight,Nearest_age_ofc,Nearest_age_height
0,1,1.880,-6.819787,30.0,-7.412936,40.0,-8.494449,female,4.50,months,30,0.375000,0.183219,0.167,0.167,0.167
1,2,3.000,-9.445522,38.0,-6.683390,55.0,-6.651637,male,9.00,months,35,0.750000,0.654110,0.667,0.667,0.667
2,3,2.740,-14.167930,41.0,-5.550545,54.0,-9.160840,female,16.00,months,38,1.333333,1.294977,1.333,1.333,1.333
3,4,6.095,-12.879988,41.0,-7.800512,71.0,-8.524102,male,5.00,years,38,5.000000,4.961644,5.000,5.000,5.000
4,5,3.780,-12.106540,43.5,-5.107273,55.7,-10.067292,male,2.03,years,38,2.030000,1.991644,2.000,2.000,2.000